body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.text-red-bold {
  color: rgba(255, 0, 0, 0.853);  /* 设置文字颜色为红色 */
  font-weight: bold;  /* 设置字体加粗 */
}

.column.is-one-quarter {
  flex: 0 0 25%; /* 固定宽度为25% */
}

.column.is-three-quarters {
  flex: 0 0 75%; /* 固定宽度为75% */
}

.column.is-one-third {
  flex: 0 0 33.333333%; /* 固定宽度为33.333333% */
}

.column.is-two-thirds {
  flex: 0 0 66.666667%; /* 固定宽度为66.666667% */
}

.video-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  background-color: #f0f0f0;
}

.video-item {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* 垂直方向排列 */
  justify-content: space-between; /* 在上下方向上平均分配空间 */
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-inner {
  display: grid; /* 使用网格布局 */
  grid-template-columns: repeat(1, 1fr); /* 每列显示一个视频 */
  grid-template-rows: repeat(2, auto); /* 每列显示两排 */
  gap: 10px; /* 列和行之间的间隔 */
}